@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;900&display=swap');
.streamify{
  font-family: 'Courgette', cursive;  ;
 font-size: 32px;
 font-weight: 800px;
 color: #0071b8;
}

.cl {
  background-color: transparent;
  color: #53bb90;
}

.dim {
  font-size: 14px;
color:#53bb90 ;  
font-family: 'Zen Maru Gothic', serif;
}
.registration {
  transition: all 0.5s ease;
  color:#0071b8;
  background-color: #53bb90;
  border-radius: 20px;
  border: 1px solid #aeaeae;
  text-decoration: none;
}

.registration:hover {
  background-color:#0071b8;
  color:#53bb90;
  border: 1px solid #53bb90;
}
.registration1 {
  transition: all 0.5s ease;
  color: rgb(32, 31, 31);
  background-color: #bfbfbf;
  border-radius: 20px;
  border: 1px solid #aeaeae;
}
.registration1:hover {
  background-color: white;
  color: #53bb90;
}

.min {
  min-width: 200px;
  height: 30px;
  border-color: #53bb90;
}

@media (max-width: 991px) {
    .min {
     position: relative;
     top: 30px;
      }
      .cl{
        height: auto;
      }
}
