
.dim{
    font-size: 14px;
    color: rgb(32, 31, 31);

}
.registration{
    transition: all 0.5s ease;
    color: rgb(32, 31, 31);
    background-color:#80B3FF;
    border-radius: 20px;
    border: 1px solid #aeaeae;

}

.registration:hover{
    background-color: #fefefe;
    color: #80B3FF;
    border: 1px solid #647998;
}
.registration1{
    transition: all 0.5s ease;
    color: rgb(32, 31, 31);
    background-color:#bfbfbf;
    border-radius: 20px;
    border: 1px solid #aeaeae;

}
.registration1:hover{
    background-color: white;
    color: #466ca4;;
    border: 1px solid #647998;
}

