.login-page {
    animation: fadeIn 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }


.template {
    background-color: rgb(216, 216, 216);
}

.p-5 {
    background-color: #80B3FF;
    color: black;
}

.btn {
    text-decoration: none;
    padding: 10px;
    font-family: arial;
    font-size: 1em;
    color: #000000;
    background-color: #D8D8D8;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border: 4px solid #597DB2;
    box-shadow: 3px 3px 12px #80B3FF;
    -webkit-box-shadow: 3px 3px 12px #80B3FF;
    -moz-box-shadow: 3px 3px 12px #80B3FF;
 }
    
.btn:hover {
    padding: 10px;
    color: #FFFFFF;
    background-color: #597DB2;
    border: 4px solid #D8D8D8;
    box-shadow: 1px 1px 4px #777777;
    -webkit-box-shadow: 1px 1px 4px #777777;
    -moz-box-shadow: 1px 1px 4px #777777;
}

a {
    color: #597DB2;
}

