.movie-details {
    text-align: center;
    padding: 0rem;
}

.container2 {
    background-color: #53bb90;
    color: #0071b8;
    border-radius: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4rem 2rem; /* Ajoutez le margin selon vos besoins */
    padding: 2rem; 
}


.gold-star {
    color: gold;
  }

