
.logo2{
    position: absolute;
    left: 450px;
    top: 3px;

}
.titles{
    height:60px ;
    width: 100%;
     border-bottom: 2px solid #597DB2;
     background-image: linear-gradient(45deg,#4C6B99
     ,#79a9ec);
}
body {
    background-color: rgb(216, 216, 216);
  }
    
    .text1 {
      font-family: 'Russo One', sans-serif;
      position: relative;
      width: 100%; height: 100%;
    }
    svg text {
      text-transform: uppercase;
      animation: stroke 5s infinite alternate;
      stroke-width: 2;
      stroke: #365fa0;
      font-size: 200px;
    }
    @keyframes stroke {
      0%   {
        fill: rgba(72,138,20,0); stroke: rgba(54,95,160,1);
        stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
      }
      70%  {fill: rgba(72,138,20,0); stroke: #80B3FF; }
      80%  {fill: rgba(72,138,20,0); stroke: #80B3FF; stroke-width: 3; }
      100% {
        fill: #80B3FF; stroke: rgba(54,95,160,0); 
        stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
      }
    }
    .icone1{
      position: relative;
      bottom: 90px;
    }

    .icone2{
      position: relative;
      top: 9px;
    }

        /* media */


    .diagonal-box {
      position: relative;
      z-index: -1;
      height: 100vh;
    }
    
    .diagonal-box:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(45deg,#4C6B99
      ,#B2D1FF
      ); 	
      transform: skewY(-11deg);
      z-index: 1;
    }
    
    .content {

      max-width: 50em;
      margin: 0 auto;
      position: relative;
      top: 15vh;
      z-index: 2;
    }


            /* media */

    @media (min-width: 344px) and  (max-width: 768px){
        .logo2{
          display: none;
        }
        .icone1{
            position: relative;
            top:1px;
          }
      
         

      }